.tabs-container {
	margin-top: 0px !important;	
}

.tab-content {
    padding-top: 0px !important;
}


body{
	background: none repeat scroll 0 0 #FBF8E9;
	color: #6D4D1C;
	margin: 0;
}


/* ====== HEADER ====== */

.header-container{
	background-image: url('../../includes/img/bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

.header-container .mask{
	background-color: rgba(0,0,0,.4);
	padding: 120px 0;
}

.header-container h4{
	font-size: 28px;
	font-weight: normal;
	color: #fff;
	margin: 0 0 40px 0;
}

.header-container .btn{
	border-radius: 0 2px 2px 0;
}

.header-container input[type="text"]:first-of-type{
	border-radius: 2px 0 0 2px !important;
	border-right: 3px solid #D8D8D8;
}

.i-want-to-wear{
	width: 738px !important;
	display: block !important;
	margin: 0 auto !important;
	color:black;
	background: rgba(255,255,255,.85);
	text-align: center;
}

/* ====== MENU ====== */

.navbar {
	width: 100%;
	top: 0;
	left: 0;
	border: none !important;
	margin: 0 !important;
	min-height: inherit !important;
}

.navbar-default .navbar-brand {
    color: #fff !important;
    font-size: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: transparent;
}

nav .container-fluid{
	background: url('../img/bg-nav.png') repeat-x scroll 0 bottom #5C3B13;
}

@media only screen and (max-width: 768px) {
	nav .container-fluid{
		background: #5C3B13;
	}
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    outline: none;
}

.navbar-collapse{
	_padding-top: 14px;
    _padding-bottom: 14px;
}
.navbar-nav>li>a {
    padding-top: 14px;
    padding-bottom: 14px;
    color: #DCD3BF !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #DCD3BF;
}

.navbar-default .navbar-toggle{
	border-color: #DCD3BF;
}

/*
.nav-container{
	color: #fff;
	padding: 8px 10px 9px 10px;
	overflow: hidden;
	background: url('../img/bg-nav.png') repeat-x scroll 0 bottom transparent;
	
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
            box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
}

.nav-container a{
	color: #DCD3BF;
	text-decoration: none;
	margin-left: 30px;
}

@media only screen and (max-width: 970px) {
	.nav-container a{
		margin-left: 15px;
	}
}
@media only screen and (max-width: 500px) {
	.nav-container{
		background: #5C3B13;
	}
	.nav-right, .nav-left{
		float: none !important;
	}
	.nav-container a{
		margin-right: 30px;
		margin-left: 0;
	}
}

.nav-container a:first-child{
	margin-left: 0 !important;
}

.nav-container a:hover, .nav-container a.selected{
	color: #fff;
}

.nav-right, .nav-left{
	vertical-align: middle;
	display: block;
	line-height:30px;
}

.nav-left{
	float: left;
}

.nav-right{
	float: right;
}

.nav-title{
	font-size: 20px;
	font-weight: 400;
}
*/

/* ====== CONTENT ====== */

.products_banner{
	width: 100%;
	display: block;
	margin-bottom: 0px;
}

.content{
	width: 940px;
	margin: auto;
}

.section{
	background: #fff;
	width: 100%;
	padding: 60px 0px;
}

form p{
	margin-bottom: 15px;
}


/* ====== BUTTONS ====== */
  
  .btn {
	border: 0;
	color: #fff;
	background: rgba(206,42,46,.9);
	border-radius: 2px;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
	min-width: 140px;
	font-weight: 500;
	font-size: 15px;
	padding: 14px 14px 13px 14px;
  }

  .btn-sm {
	min-width: initial !important;
	padding: 5px 10px !important;
	vertical-align: bottom;
	font-size: 11px;
  }

  .btn-md {
	min-width: initial !important;
	padding: 8px 13px !important;
	vertical-align: bottom;
	font-size: 12px;
  }
  
  .btn:hover, .btn:focus{
  	outline: none;
  	color: #fff;
  	background-color: #2FC1E9;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
            box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
  }

  .btn-green{
  	background-color: #91611A;
  }
	
  .btn-green:hover, .btn-green:focus{	
	background-color: #AB772A;
  }

  .btn-red{
  	background-color: #d9534f;
  }
	
  .btn-red:hover, .btn-red:focus{	
	background-color: #DF635F;
  }

  .btn-white{
  	 background-color: #fff;
  	 color: black;
  }

  .btn-white:hover, .btn-white:focus{	
	background-color: #A4A4A4;
  }

  .btn-gray{
  	background-color: #BDBDBD;
  }
	
  .btn-gray:hover, .btn-gray:focus{	
	background-color: #A4A4A4;
  }

  .btn-blue{
  	background-color: #2d609b;
  }
	
  .btn-blue:hover, .btn-blue:focus{	
	background-color: #2d609b;
  } 

  .thumbnail-buttons{
	position:absolute;
	top:0;
	right:0;
	z-index:3;
  }

/* ====== END BUTTONS ====== */

/* CUSTOM INPUT AND TEXTAREA */

input[type="checkbox"], .glyphicon-ok-sign{
    vertical-align: top;
}

textarea,
input[type="text"]{
	margin-bottom: 0;
	margin-left: 0;
	font-weight: normal;
	padding: 13px 15px;
	height: auto;
	border: none;
	box-shadow: none;
	background: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 22px;
	color: rgb(141, 141, 141);
	vertical-align: middle;
	outline: none;

	width: 300px;
	min-height: 32px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;

	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;

	-webkit-transition: border linear .2s, box-shadow linear .2s;
	   -moz-transition: border linear .2s, box-shadow linear .2s;
         -o-transition: border linear .2s, box-shadow linear .2s;
			transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus, 
input[type="text"]:focus{
	border-color: #cecece;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #555555;
	/*background: #e8e8e8;*/
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* typeahead */

.typeahead{
	vertical-align: middle !important;
}
.tt-menu{
	width: 100% !important;
	background: rgba(255,255,255,.8) !important;
} 
.tt-suggestion{
	padding: 5px 17px;
	text-align: left;
	cursor: pointer;
}
.tt-cursor{
	background: #AB772A;
	color: white;
}

/* SELECT2 STYLE  */
.select2-results__option{
	padding-left: 20px !important;
}
.select2-dropdown{
	/*border: 0 !important;*/
	border: 1px solid #f1f1f1 !important;
	border-radius: 0 !important;
}
.select2-search--dropdown{
	padding: 0 !important;
}
/*.select2-search__field{
	outline: none !important;
	border: 0 !important;
	background: #f5f5f5 !important;
	padding: 10px 8px !important;
	width: 100% !important;
}*/
.select2-container .select2-selection--single{
	outline: none !important;
} 

.select2-container .select2-selection--single {
	height: 48px !important;
	border-radius: 0 !important;
	border: none !important;
}

.select2-container .select2-selection--single>span{
	padding-top: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 48px !important;
}

.keyword-input{
	width: 180px;
}

.select2-selection--multiple{
	border-radius: 0 !important;
	border: none !important;
	min-height: 48px !important;
	padding: 8px 0;
}

.select2-dropdown{
	/*background: rgba(255,255,255,.75) !important;*/
}
#keyword{
	width: 300px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
	padding-left: 10px !important;
}
/*
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: inherit !important;
  color: inherit !important;
}
*/
textarea{
	background: #F7F4F4;
}


@media only screen and (max-width: 970px) {
	.header-container .btn-green, .header-container input[type="text"]{
		width: 100% !important;
	}

	.twitter-typeahead{
		width: 100%;
	}

	.header-container input, .header-container .btn-green{
		margin-left: 0 !important;
	  	margin-right: 0 !important;
	}

	.header-container input, .select2, .header-container .btn-green{
		/*margin-bottom: 5px !important;*/
		
	}

	.content{
		width: 100%;
		padding: 0px 10px !important;
	}

	.mask{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	#keyword{
		width: 100%;
	}

	.suggestions .suggestions-feed{
		width: 100% !important;
		margin: 0 !important;
	}

	.tabs-container{
		margin: 0px 0px !important;
	}
}


/* FORM CONTROL DIV */

.form-controls{
	background-color: #f1f1f1;
	padding: 20px;
	margin: 0 !important;
}

label{
	font-weight: 400;
	cursor: pointer;
}

.summary-content h4{
	margin: 0 0 20px 0;
}

.tabs-container{
	margin: 20px;
	/*border: 1px solid #ddd;*/
	/*background: #fff;*/
}

.tab-content{
	padding: 0px 0;
}

/* OTHER USERS FEED */

.feed-hidden{
	display: none;
}

.feed-container{
	overflow: hidden;
	margin-bottom: 10px;
	padding: 10px;
	background: #FBEED8;
}

.feed-head{
	margin-bottom: 10px;
}

.feed-head-text{
	display: inline-block;
	vertical-align: top;

}

.feed-head-text span.date{
	color: #9197a3;
	font-size: 12px;
}

.feed-img{
	width: 40px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}

.feed-img img{
	max-width: 100%;
	min-width: 100%;
}

.feed-content{
	float: left;
	vertical-align: bottom;
}

.feed-content>span{
	font-size: 16px;
	font-weight: 500;
}

.feed-content hr{
	margin: 10px 0;
}

.feed-content img{
	height: 100px;
	margin-right: 5px;
}

.load-more-feed{
	padding: 10px;
	width: 100%;
	text-align: center;
	color: #6D4D1C !important;
	background-color: #DEC395 !important;
	cursor: pointer;

	-webkit-transition: background linear .2s;
	   -moz-transition: background linear .2s;
         -o-transition: background linear .2s;
			transition: background linear .2s;
}

.load-more-feed:hover{
	background: rgba(0, 0, 0, .5);
}

/* SHOPPING CART */

.cart-item{
	overflow: hidden;
	margin-bottom: 10px;
	padding: 40px 40px;
	background: #FBEED8;
}

.cart-head{
	background: #EBD3AA;
	padding: 20px;
	color: #6D4D1C !important;
	font-size: 12px;
}

.cart-item h4{
	color: #555 !important;
	font-size: 12px;
	padding: 10px 0 !important;
}

.col-sm-8 table{
	margin: 0;
}

textarea, input[type="text"], .form-control {
	background-color: #FCF2E1;
	border-color: #DEC395 !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FCF2E1;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
    border-top: 1px solid #DEC395;
}

.table thead>tr>th {
	border-bottom: 2px solid #DEC395;
}

@media only screen and (max-width: 768px) {
	.cart-item{
		padding: 10px;
	}

	h2, .tabs-container>.btn{
		margin-left: 10px;
	}
}

.item_description img{
	float: left;
	margin-right: 20px;
	width: 100px;
}

.item_name{
	font-size: 14px;
}

.added_controls{
	display: none;
}

.combination_not_available{
	display: none;
}

/* SHOPPING CART */

.suggestions{
	width: 100%;
	text-align: center;
}

.suggestions .suggestions-feed{
	border: 0 !important;
	width: 738px;
	border-radius: 0 !important;
	background: rgba(0,0,0,.5);
	/*height: 48px;*/
	display: block;
	margin: auto;
}

.suggestions-feed a{
	margin: 10px 3px !important;
	border-radius: 0 !important;
}

/* CUSTOM CHANGES */
.media-box{
	/*border: 1px solid #848484;*/
}

.media-box hr{
	border-top: 1px solid #DCD3BF;
}

.media-boxes-load-more-button{
	color: #6D4D1C !important;
	background-color: #DEC395 !important;
	-webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
         -o-box-shadow: none !important;
        -ms-box-shadow: none !important;
            box-shadow: none !important;
}

.media-box-content{
	padding: 20px 20px 10px 20px !important;
	background: #FBEED8 !important;
}

.media-box-text{
	color: #6D4D1C !important;
}

.media-box-content hr{
	margin: 30px 0 10px !important;
}

#grid .thumbnail-overlay .fa{
	background: #91611A;
	color: E1D4C1 !important;
}


/* GLOBAL FONT */
.mfp-container, 
.media-box, 
.media-boxes-load-more-button, 
.media-boxes-filter,
.media-boxes-drop-down-menu > li > a, .media-boxes-drop-down-header,
.media-boxes-search{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: normal !important;
}
.media-box-text {
    font-size: 12px !important;
    margin: 13px 0px 13px 0 !important;
    line-height: 17px !important;
}
.media-box-price {
	color: inherit !important;
}

.thumbnail-overlay {
    background: black !important;
    background-color: rgba(0,0,0, .30) !important;
    color: #333333 !important;
}

.media-box-price{
	font-size: 15px;
	font-weight: 600;
}

.product_bottom .row{
	margin-bottom: 0 !important;
}
.product_bottom .count{
	font-size: 18px;
    position: relative;
    top: 3px;
}
.product_bottom .heart-selected{
	color: #d10000;
}
.media-box-color{
	width: 35px;
	height: 35px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: bottom;
	margin-right: 5px;
	cursor: pointer;
	padding: 2px; 
	border: 1px solid #eee;
}
.media-box-color span{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.media-box-text .row{
	margin-bottom: 10px;
}
.media-box-text select{
	height: auto;
	display: inline-block;
	max-width: 40px;
	height: 26px;
}
.padding-top{
	padding-top: 6px;
}
.media-box-size{
	cursor: pointer;
	width: 38px;
	height: 34px;
	display: inline-block;
	border: 1px solid #eee;
	text-align: center;
	line-height: 27px;
	font-size: 12px;
	margin-right: 5px;
	padding: 2px; 
}
.media-box-size span{
	width: 100%;
	height: 100%;
	display: block;
	background: #DEC395;
}

.size-selected{
	border-color: gray;
}
.color-selected{
	border-color: gray;
}

/* loading wheel for tabs */

.loading{
	margin-left: 20px;
}

/* ====== TABS ====== */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #DEC395;
	color: #6D4D1C !important;
	border-color: transparent;
}

.nav-tabs>li>a {
	color: #6D4D1C !important;
}

.nav-tabs {
    border-bottom: 1px solid #DEC395;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    background-color: #FBECD3;
    border-color: transparent !important;
    border-bottom-color: #DEC395 !important;
}

/* ====== KEYWORDS GRID ====== */

.others_saved_products{
	height: auto !important;
	padding: 20px;
	margin-bottom: 50px;
	text-align: center;
	text-decoration: none;
	margin: -20px -20px 20px -20px;
	position: relative;
}
@media only screen and (max-width: 768px) {
	.others_saved_products{
		margin: -20px -10px 20px -10px;
	}
}

.size_picker{
	background: url('../img/bg.jpg');
	height: auto !important;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin: -20px -20px 20px -20px;
	position: relative;
}
@media only screen and (max-width: 768px) {
	.size_picker{
		margin: -20px -10px 20px -10px;
	}
}

.open_shopping_asistant{
	height: auto !important;
	padding: 40px 0;
	margin-bottom: 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	background: none !important;
}

.keywords-container{
	overflow: hidden;
	margin: 0 -3px;
}

.keyword-item{
	float: left;
	padding: 0 3px;
	margin-bottom: 20px;
}

.keyword-image img{
	width: 100%;
}

.keyword-text{
	background-color: #DEC395;
	font-size: 13px !important;
	text-align: center !important;
	text-decoration: none !important;
	color: #6D4D1C !important;
	padding: 15px 10px;
}

.keyword-static-block{
	background: #f1f1f1;
	color: #fff;
	padding: 20px;
	font-size: 12px;
}

.keyword-static-block-title{
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 14px;
}

.keyword-brand-list{
	padding: 20px;
	background: #f1f1f1;
	text-align: center;
}

.keyword-brand-list>div{
	margin-bottom: 10px;
}
.keyword-brand-list>div:last-child{
	margin-bottom: 0 !important;
}

.keyword-item a{
	text-decoration: none !important;
}

/* ====== CATEGORY KEYWORDS GRID ====== */

.category-keywords .keyword-item{
	text-align: center;
}
.category-keywords .keyword-item>div{
	padding: 20px;
	background: #f1f1f1;
}
.category-keywords .keyword-item>div .keyword-image{
	margin-bottom: 20px;
}
.category-keywords .keyword-item>div .keyword-image img{
	max-width: 70%;
}
.category-keywords .keyword-item>div a{
	text-decoration: none !important;
    color: #6D4D1C !important;
    font-size: 11px !important;
}
div.center_out { 
	display: table !important;
    height: 100%;
    width: 100%;
}
div.center_in { 
	display: table-cell !important;
    vertical-align: middle; /* FOR VERTICAL ALIGN */
    text-align:center; /* FOR HORIZONTAL ALIGN */
}

/* ====== RESPONSIVE KEYWORDS GRID ====== */

.keyword-item{
	width: 25%;
}
.brand-keywords .keyword-item{
	width: 16.66%;
}
.category-keywords .keyword-item{
	width: 10%;
}

@media only screen and (max-width: 1100px) {
	.keyword-static-block-title{
		font-size: 11px !important;	
	}
}

@media only screen and (max-width: 960px) {
	.keyword-text{
		font-size: 12px !important;
	}

	.keyword-item{
		width: 33.33%;
	}

	.brand-keywords .keyword-item{
		width: 33.33%;	
	}

	.category-keywords .keyword-item{
		width: 20%;
	}
}

@media only screen and (max-width: 768px) {
	.keyword-text{
		font-size: 12px !important;
	}

	.keyword-item{
		width: 33.33%;
	}

	.brand-keywords .keyword-item{
		width: 33.33%;	
	}

	.category-keywords .keyword-item{
		width: 25%;
	}
}

@media only screen and (max-width: 500px) {
	.keyword-item{
		margin-bottom: 10px;
	}

	.keyword-item{
		width: 100%;
	}	

	.brand-keywords .keyword-item{
		width: 100%;	
	}

	.category-keywords .keyword-item{
		width: 50%;
	}
}

/* ====== DIVIDER FOR THE KEYWORDS ====== */

.or-spacer {
  width: 100%;
  position: relative;
  margin-bottom: 40px !important;
  margin-top: 50px !important;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  box-shadow: 0 0 8px black;
}
.or-spacer span {
  width: 250px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 100px;
  margin-left: -25px;
  box-shadow: 0 2px 4px #999;
  background: #FBF8E9;
}
.or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border: 1px dashed #6D4D1C;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #6D4D1C;
}

@media only screen and (max-width: 768px) {
	.or-spacer span {
		left: 50% !important;
		margin-left: -125px !important;
	}
}


/* ====== FOOTER ====== */

html{
    height: 100%;
}
.page-wrap {
    min-height: 100%;
}
.page-wrap-inner {    
    /*overflow:auto;*/
    position: relative;
}
.page-footer {
    position: relative;
    clear:both;
}
.page-footer { 
	color: #DEC395;
	background-image: url(http://static.allbackgrounds.com/bg/wood.jpg);
    /*background: #2E1B05;*/
    padding: 15px;
}
.page-footer a{
	color: #fff;
}

/* ====== BOX SHADOW TO ALL BOXES ====== */

.media-box-container, .keyword-item>div{
    -webkit-box-shadow: 0 1px 2px rgba(34,25,25,0.6) !important;
       -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.6) !important;
         -o-box-shadow: 0 1px 2px rgba(34,25,25,0.6) !important;
        -ms-box-shadow: 0 1px 2px rgba(34,25,25,0.6) !important;
            box-shadow: 0 1px 2px rgba(34,25,25,0.6) !important;
}

/* ====== MODAL ====== */

.modal-login{
	background-color: rgba(81,54,26,1) !important;
	background: url('http://miracas.com/ZS/includes/img/bg2.png') !important;
    background-size: cover !important;
}

.modal-mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(81,54,26,.7);
}

.modal-mask:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.close-modal{
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	text-decoration: none !important;
	color: white !important;
	font-size: 19px;
	top: -30px;
	right: 0px;
}

.modal-login .modal-content{
	background: rgba(0, 0, 0, .3) !important;
}

.modal-content {
    border: 0 !important;
    border-radius: 0 !important;
    padding: 15px !important;
    webkit-box-shadow:none !important;
       -moz-box-shadow:none !important;
         -o-box-shadow:none !important;
        -ms-box-shadow:none !important;
            box-shadow:none !important;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* ====== BACKGROUND WHILE THE IMAGES ARE LOADING ====== */

.image-with-dimensions, .media-box-little-grid>div{
    background-color: #DEC395 !important;
}

/* ====== MANAGER CARD ====== */

.manager_card{
	width: 520px;
	max-width: 100%;
	background: #f9e5c4;
	padding: 15px;
    margin-bottom: 20px;
    color: #b7945f;
}

.manager_card_title{
	padding: 10px;
	border: 1px solid #b7945f;
	overflow: hidden;
	margin-bottom: 10px;
}

.manager_card img{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 20px;
	display: block;
}

.manager_card_title_text{
	margin-top: 4px;
}








